venv
__pycache__
.vscode
.env
.DS_Store
test.py
already_spammed.txt
bad_proxies.txt
proxylist.txt
statistics.txt
text_template.txt
used_proxies.txt
online_spammed.txt
bad_users.txt
offline_spammed.txt